<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida!</p>
<small>
    Segue abaixo sua resposta, confira:
</small>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
</p>
<small>
    Conte sempre conosco para tirar todas as suas dúvidas!
</small>
